# Virtuoso files /data/db
/data/publication-triplestore/*
/data/db.bck/**
/data/db/*
/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
/data/files/*
!/data/files/exports/.gitkeep
/data/temp/*
docker-compose.override.yml
.idea
*.iml

/data/elasticsearch/**
/data/ldes-feed/*
/tmp
.DS_STORE
.env

/config/migrations/private-data/*
/config/migrations/local/*

/config/proxy/nginx.htpasswd

DS_STORE
.DS_Store

/config/proxy-https/cert.pem
/config/proxy-https/key.pem

# Kalliope config files
source.json
output.json
security.json

config/proxy-https/proxy_ssl.conf
/config/search/update-handler.store
/config/search/dev/update-handler.store
