services:
  identifier:
    restart: "no"
    ports:
      - "80:80"
    environment:
      SESSION_COOKIE_SECURE: "off"
  dispatcher:
    restart: "no"
  triplestore:
    ports:
      - "8890:8890"
    restart: "no"
  db:
    restart: "no"
  migrations:
    volumes:
      - ./config/dev-migrations:/data/migrations/dev/
    restart: "no"
  migrations-triggering-indexing:
    restart: "no"
  resource:
    restart: "no"
  cache:
    restart: "no"
  db-cleanup:
    restart: "no"
  kalliope-api:
    environment:
      SECURITY_CONFIG_PATH: "/config/security-dev.json"
    restart: "no"
  deltanotifier:
    restart: "no"
  mocklogin:
    image: lblod/mock-login-service:0.7.0
    links:
      - db:database
    restart: "no"
  sink:
    restart: "no"
  login:
    restart: "no"
  login-dashboard:
    restart: "no"
  accountdetail:
    restart: "no"
  privacy-unit:
    restart: "no"
  privacy-worship:
    restart: "no"
  adressenregister:
    restart: "no"
  frontend:
    restart: "no"
  frontend-dashboard:
    environment:
      EMBER_LOGIN_ROUTE: "mock-login"
    restart: "no"
  uri-info:
    restart: "no"
  delta-producer-background-jobs-initiator:
    restart: "no"
  delta-producer-publication-graph-maintainer:
    restart: "no"
  search:
    restart: "no"
  elasticsearch:
    restart: "no"
  file:
    restart: "no"
  publication-triplestore:
    restart: "no"
    ports:
      - "8891:8890"
  delta-producer-dump-file-publisher:
    restart: "no"
  organizations-sync-with-sharepoint-jobs-initiator:
    restart: "no"
  organizations-sync-with-sharepoint:
    restart: "no"
  construct-organization-relationships:
    restart: "no"
  scope-of-operation:
    restart: "no"
  mandatarissen-consumer:
    restart: "no"
  leidinggevenden-consumer:
    restart: "no"
  worship-services-main-info-consumer:
    restart: "no"
  worship-services-private-info-consumer:
    restart: "no"
  ldes-backend:
    environment:
      BASE_URL: "http://localhost/ldes/"
  kbo-data-sync:
    restart: "no"
  error-alert:
    environment:
      EMAIL_FROM: 'test@example.com'
      EMAIL_TO: '123@example.com'
    restart: "no"
  deliver-email-service:
    environment:
      EMAIL_CRON_PATTERN: "*/5 * * * *"
      WELL_KNOWN_SERVICE: "test"
      FROM_NAME: "Your Name"
    restart: "no"
  # use this to test acmidm
  # tlsproxy:
  #   image: caddy:2
  #   restart: "no"
  #   ports:
  #     - "443:443"
  #   environment:
  #     OP_ADDRESS: "organisaties.abb.lblod.info"
  #   volumes:
  #     - ./config/tlsproxy-mock/Caddyfile:/etc/caddy/Caddyfile
