version: "3.4"

services:
  identifier:
    restart: "no"
    ports:
      - "80:80"
  dispatcher:
    restart: "no"
  triplestore:
    ports:
      - "8890:8890"
    restart: "no"
  db:
    restart: "no"
  migrations:
    volumes:
      - ./config/dev-migrations:/data/migrations/dev/
    restart: "no"
  migrations-triggering-indexing:
    restart: "no"
  resource:
    restart: "no"
  cache:
    restart: "no"
  kalliope-api:
    environment:
      SECURITY_CONFIG_PATH: "/config/security-dev.json"
    restart: "no"
  deltanotifier:
    restart: "no"
  mocklogin:
    image: lblod/mock-login-service:0.7.0
    links:
      - db:database
    restart: "no"
  sink:
    restart: "no"
  login:
    restart: "no"
  accountdetail:
    restart: "no"
  privacy-unit:
    restart: "no"
  privacy-worship:
    restart: "no"
  adressenregister:
    restart: "no"
  frontend:
    image: lblod/frontend-organization-portal:latest
    restart: "no"
  uri-info:
    restart: "no"
  delta-producer-background-jobs-initiator:
    restart: "no"
  delta-producer-publication-graph-maintainer:
    restart: "no"
  search:
    restart: "no"
    volumes:
      - ./config/search/dev:/config
  elasticsearch:
    restart: "no"
  file:
    restart: "no"
  publication-triplestore:
    restart: "no"
    ports:
      - "8891:8890"
  delta-producer-dump-file-publisher:
    restart: "no"
  organizations-sync-with-sharepoint-jobs-initiator:
    restart: "no"
  organizations-sync-with-sharepoint:
    restart: "no"
  construct-organization-relationships:
    restart: "no"
  delta-producer-bg-jobs-initiator-worship-posts:
    restart: "no"
  delta-producer-pub-graph-maintainer-worship-posts:
    restart: "no"
  delta-producer-bg-jobs-initiator-public:
    restart: "no"
  delta-producer-pub-graph-maintainer-public:
    restart: "no"
  mandatarissen-consumer:
    restart: "no"
  leidinggevenden-consumer:
    restart: "no"
  worship-services-sensitive-consumer:
    restart: "no"
  ldes-backend:
    environment:
      BASE_URL: "http://localhost/ldes/"
  kbo-data-sync:
    restart: "no"
  # use this to test acmidm
  # tlsproxy:
  #   image: caddy:2
  #   restart: "no"
  #   ports:
  #     - "443:443"
  #   environment:
  #     OP_ADDRESS: "organisaties.abb.lblod.info"
  #   volumes:
  #     - ./config/tlsproxy-mock/Caddyfile:/etc/caddy/Caddyfile
